## Notebook Description
This notebook is dedicated to cleaning the raw data then saving the cleaned CSV to the `clean_data` folder

In [1]:
import pandas as pd
import numpy as np

# Loading Data

In [2]:
df = pd.read_csv('../raw_data/reddit.csv')
df.head()

,title,selftext,subreddit,created_utc
0,"Where to backpack 4 nights in Utah, Arizona, o...",Hello Reddit folks! Four of my friends and I a...,backpacking,1646011972
1,"Peace Walls, Belfast",NaN,backpacking,1646007041
2,How To Mount Snowshoes On Osprey Talon 22 Back...,"The backpack is fairly small, but the suspensi...",backpacking,1646005307
3,Bringing dog to Kearsarge pass?,[removed],backpacking,1646004876
4,Mid 30s short trip to Thailand - Bangkok &amp;...,My husband and I plan to go to Thailand for a ...,backpacking,1646000495

# Data Cleaning

In [3]:
df.isnull().sum()

title             0
selftext       1431
subreddit         0
created_utc       0
dtype: int64

## Cleaning selftext column

In [4]:
df['selftext'] = df['selftext'].fillna('')
df.isnull().sum()

title          0
selftext       0
subreddit      0
created_utc    0
dtype: int64

In [5]:
df.head()

,title,selftext,subreddit,created_utc
0,"Where to backpack 4 nights in Utah, Arizona, o...",Hello Reddit folks! Four of my friends and I a...,backpacking,1646011972
1,"Peace Walls, Belfast",,backpacking,1646007041
2,How To Mount Snowshoes On Osprey Talon 22 Back...,"The backpack is fairly small, but the suspensi...",backpacking,1646005307
3,Bringing dog to Kearsarge pass?,[removed],backpacking,1646004876
4,Mid 30s short trip to Thailand - Bangkok &amp;...,My husband and I plan to go to Thailand for a ...,backpacking,1646000495

## Exporting cleaned dataset to `clean_data` folder

In [6]:
# Write engineered data to CSV to be used in modeling
df.to_csv('../clean_data/reddit_clean.csv', index=False)